
  <!-- Footer -->
  <footer class="page-footer font-small pt-4 mt-4">

    <!-- Footer Links -->
    <div class="container text-center text-md-left">

      <!-- Grid row -->
      <div class="row">

        <!-- Grid column -->
        <div class="col-md-6 mt-md-0 mt-3">

          <!-- Content -->
          <h5 class="text-uppercase">Vedanta Yoga</h5>
          <p>Centro de yoga en Parque Chacabuco, Buenos Aires. Clases, talleres, cursos y más </p>

        </div>
        <!-- Grid column -->

        

        <!-- Grid column -->
        <div class="col-md-4 mb-md-0 mb-3">

          <!-- Links -->

          <ul class="navbar-nav ml-auto nav-flex-icons align-items-around justify-content-around flex-row">
              <li class="nav-item">
                <a class="nav-link waves-effect waves-light">
                  <i class="fab fa-facebook fa-2x"></i>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link waves-effect waves-light">
                  <i class="fab fa-instagram fa-2x"></i>
                </a>
              </li>
              <li class="nav-item align-items-center">
                  <a href="mailto:ejemlo@gmail.com" class="nav-link waves-effect waves-light">
                    <i class="fa fa-envelope fa-2x fa-fw"></i>: ejemplo@gmail.com
                  </a>
                </li>
          </ul>

        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row -->

    </div>
    <!-- Footer Links -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2019 Copyright - Todos los derechos reservados - Diseñado por JavFr
    </div>
    <!-- Copyright -->

  </footer>
  <!-- Footer -->
